gemm/generator_tests
gemm/hls_files/*/project_1

conv/hls_files/*/project_1
llm/hls_files/*/project_1

*/auto_generated_configs
*/large_hls_files

ML_testsuite/*
ModularHLS_testsuite/*


*.log
*/__pycache__
ML_testsuite.tar.gz
